@model Core.BLL.DTO.Entities.Avatar

@{
    ViewData["Title"] = "Details";
}

<h1>@Shared.Resources.SharedRes.Details</h1>

<div>
    <h4>@Core.Resources.Domain.DomainEntities.Avatar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Health)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Health)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stamina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stamina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hunger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hunger)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dexterity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intelligence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Money)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Money)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">@Shared.Resources.SharedRes.BackToList</a>
</div>
