@model Core.BLL.DTO.Entities.Item

@{
    ViewData["Title"] = "Delete";
}

<h1>@Shared.Resources.SharedRes.Delete</h1>

<h3>@Shared.Resources.SharedRes.Delete</h3>
<div>
    <h4>@Core.Resources.Domain.DomainEntities.Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConsumable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConsumable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatToUpgrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatToUpgrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemRarity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemRarity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Shared.Resources.SharedRes.BackToList</a>
    </form>
</div>
