@model Core.BLL.DTO.Entities.TaskQuest

@{
    ViewData["Title"] = "Delete";
}

<h1>@Shared.Resources.SharedRes.Delete</h1>

<h3>@Shared.Resources.SharedRes.AreUDelete</h3>
<div>
    <h4>@Core.Resources.Domain.DomainEntities.TaskQuest</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskType!.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Shared.Resources.SharedRes.BackToList</a>
    </form>
</div>
