@using Microsoft.AspNetCore.Identity
@using Core.Domain.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="footer d-flex align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a class="nav-link uiTextColor" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</a>
        </li>
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link uiTextColor">@Shared.Resources.SharedRes.Logoout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link uiTextColor" asp-area="Identity" asp-page="/Account/Register">@Shared.Resources.SharedRes.Register</a>
        </li>
        <li>
            <a class="nav-link uiTextColor" asp-area="Identity" asp-page="/Account/Login">@Shared.Resources.SharedRes.Login</a>
        </li>
    }
</ul>